<ion-header>
  <ion-toolbar>
    <ion-title>
      Automobiles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Pininfarina Battista</ion-card-title>
      <ion-card-subtitle>by Mahindra</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <img src="./assets/blogImages/automobile/pinin.jpg" alt="car">
      <ion-button [routerLink]="'/blogs/1'">
        Know More
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>La Voiture Noire</ion-card-title>
      <ion-card-subtitle>by Bugatti</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <img src="./assets/blogImages/automobile/bugatti.jpg" alt="car">
      <ion-button [routerLink]="'/blogs/2'">
        Know More
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Agera RS</ion-card-title>
      <ion-card-subtitle>by Koenigsegg </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <img src="./assets/blogImages/automobile/agera.jpg" alt="car">
      <ion-button [routerLink]="'/blogs/3'">
        Know More
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>