<ion-header>
  <ion-toolbar>
    <ion-title>
      Laptops
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Alien Wear Area - M15</ion-card-title>
      <ion-card-subtitle>by Dell</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <img src="./assets/blogImages/laptops/alienwear.png" alt="car">
      <ion-button [routerLink]="'/blogs/7/'">
        Know More
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>XPS 2019</ion-card-title>
      <ion-card-subtitle>by Dell</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <img src="./assets/blogImages/laptops/xps.jpg" alt="car">
      <ion-button [routerLink]="'/blogs/8'">
        Know More
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Surface Laptop 2</ion-card-title>
      <ion-card-subtitle>by Microsoft</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <img src="./assets/blogImages/laptops/surface.jpg" alt="car">
      <ion-button [routerLink]="'/blogs/9'">
        Know More
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>